@{
    Layout = "_WPLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>TWC</title>
    <link rel="canonical" href="" />
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://chhotaniveshgold.com/assets/vendor/boxicons/css/boxicons.min.css"> -->
    <!-- Vendor CSS Files -->
    <link href="~/css/wpregistrationcss/slick.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/slick-theme.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/css/wpregistrationcss/style.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/bootstrap.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/custom.css" rel="stylesheet" />
    <style>
        .fa-done {
            font-size: 24px;
            color: green;
            display: flex;
            position: absolute;
            top: 17px;
            right: 13px;
        }

        .hidden {
            display: none;
        }
    </style>

</head>
<body>
    <!-- ======= Hero Section ======= -->
    <section class=" background-twc-banner" ng-app="main" ng-controller="myController">
        <div class="container">
            <header id="header" class="pb-5 mobile-top-padding-header ">
                <div class="container">
                    <div class="row d-md-none d-block">
                        <div class="col-md-2 col-6 mx-auto text-center ">
                            <a href="index.html">
                                <img src="~/wpregimages/twc-logo.png" alt="" title="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        <div class="col-md-5  d-none d-md-block">
                            <div class="row">
                                <div class="mx-auto">
                                    <img src="~/wpregimages/twc-mobile.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row ">
                                <div class="col-md-12">
                                    <div class="card login-form">
                                        <div class="row">
                                            <div class="col-md-12 text-center mb-3">
                                                <img src="~/wpregimages/form-logo.png" alt="" title="" class="img-fluid text-center" style="width:55px;height: 40px;">
                                            </div>
                                            <div class="col-md-12 text-center mt-2 mb-2">
                                                <h5 class="form-title">Corporate Account</h5>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-2">
                                                    <input type="text" class="form-control floating-text-area" id="floatingInput" style="color: white;" ng-model="MobileNumber" ng-change="GetOTP()" maxlength="10" ng-keypress="allowNumbers($event)" ng-paste="preventPaste($event)" placeholder="HERFK4578G" autocomplete="off">
                                                    <label for="floatingInput" style="color: #c9a13f;">Enter Mobile Number</label>

                                                </div>
                                            </div>
                                            <div class="col-md-6" ng-if="OTPboxhide">
                                                <div class="form-floating mb-2">

                                                    <input type="text" class="form-control mobile-number-otp ps-0 text-center" id="floatingInput" style="color: white;" ng-change="VerifyOTP(OTPvalue)" ng-model="OTPvalue" ng-keyup="change()" ng-keypress="allowNumbers($event)" ng-paste="preventPaste($event)" maxlength="4">
                                                    <label for="floatingInput" style="color: #c9a13f;">Enter OTP</label>
                                                </div>
                                                <label class="form-subtitle ">A OTP has been sent to <span class="golden">{{mobilehide}}</span><img src="~/wpregimages/edit.png" class="ms-1 mb-1"></label>

                                                <label class="form-subtitle">
                                                    <a ng-click="ResendOTP()" ng-show="resendOtp== true" style="color: floralwhite;">Resend OTP in</a>
                                                    <span class="golden">&nbsp;{{display}}&nbsp;</span> Sec
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating mb-2">
                                                    <input type="text" class="form-control floating-text-area" id="floatingInput" style="color:white;" oninput="this.value = this.value.toUpperCase()" ng-model="email" ng-keyup="checkEmail()" placeholder="HERFK4578G" autocomplete="off">
                                                    <label for="floatingInput" style="color: #c9a13f;">Enter Email</label>
                                                    <span ng-if="CheckEmailPattern" style="color:rgb(206, 44, 44)" class="mfs12"> Invalid Email </span>
                                                </div>
                                                <div>
                                                    @*   <input type="text" ng-if="!data[0].Email" id="Mailid" class="form-control mobile-number-textarea ps-0" style="color: white;width:187px;" ng-keyup="checkEmail()" maxlength="30"> *@
                                                    @*  <span ng-if="!data[0].Email" id="notVerify" style="color:rgb(206, 44, 44);" class="mfs12"> Email is not Verify </span>
                                                    <span ng-if="data[0].Email != null && data[0].Email != '' && data[0].Email != undefined" style="color:green" class="mfs12">Verified Email</span> *@
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-floating mb-2">
                                                    <input type="text" class="form-control floating-text-area" id="floatingInput" style="text-transform:uppercase;color:white;" ng-model="name" placeholder="HERFK4578G" autocomplete="off">
                                                    <label for="floatingInput" style="color: #c9a13f;">Enter Company Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3 row mb-3 ms-2">
                                            <div class="col-md-12 text-center col-12 mt-2 mb-4">
                                                <button ng-click="Next()" class="btn rounded btn-submit">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->




    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/js/wpregistration/jquery.min.js"></script>
    <script src="~/js/wpregistration/slick.min.js"></script>
    <script src="~/js/wpregistration/slick.js"></script>

    <script src="~/js/wpregistration/bootstrap.bundle.min.js"></script>
    <script src="~/js/wpregistration/bootstrap.bundle.js"></script>
    <!-- Template Main JS File -->

    <script src="~/js/wpregistration/main.js"></script>
    <!---For Angular js-->
    <script src="~/angularjs/toast/angular.min.js"></script>
    <script src="~/angularjs/toast/angular-animate.min.js"></script>

    <!-----Js File-->

    <script src="~/js/wpregistration/corporate/corporate.js"></script>

    <script>

        $(document).ready(function () {
            toastr.options = {
                'closeButton': true,
                'debug': false,
                'newestOnTop': false,
                'progressBar': false,
                'positionClass': 'toast-top-right',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '5000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            }
        });

        // Toast Position
        $('#position').click(function (event) {
            var pos = $('input[name=position]:checked', '#positionForm').val();
            toastr.options.positionClass = "toast-" + pos;
            toastr.options.preventDuplicates = false;
            toastr.info('This sample position', 'Toast Position')
        });



        $('.multiple-items').slick({
            arrows: true,
            dots: true,
            number: false,
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false
                    }
                }

            ]
        });

    </script>



    <script>
        /* This creates all the OTP input fields dynamically. Change the otp_length variable  to change the OTP Length */
        // const $otp_length = 6;

        // const element = document.getElementById('OTPInput');
        // for (let i = 0; i < $otp_length; i++) {
        //     let inputField = document.createElement('input'); // Creates a new input element
        //     inputField.className = "w-12 h-12 bg-gray-100 border-0 outline-none focus:bg-gray-200 text-center focus:border-blue-400 focus:shadow-outline";
        //     // Do individual OTP input styling here;
        //     inputField.style.cssText = "text-shadow: 0 0 0 gray;"; // Input field text styling. This css hides the text caret
        //     inputField.id = 'otp-field' + i; // Don't remove
        //     inputField.maxLength = 1; // Sets individual field length to 1 char
        //     element.appendChild(inputField); // Adds the input field to the parent div (OTPInput)
        // }

        // /*  This is for switching back and forth the input box for user experience */
        // const inputs = document.querySelectorAll('#OTPInput > *[id]');
        // for (let i = 0; i < inputs.length; i++) {
        //     inputs[i].addEventListener('keydown', function (event) {
        //         if (event.key === "Backspace") {

        //             if (inputs[i].value == '') {
        //                 if (i != 0) {
        //                     inputs[i - 1].focus();
        //                 }
        //             } else {
        //                 inputs[i].value = '';
        //             }

        //         } else if (event.key === "ArrowLeft" && i !== 0) {
        //             inputs[i - 1].focus();
        //         } else if (event.key === "ArrowRight" && i !== inputs.length - 1) {
        //             inputs[i + 1].focus();
        //         } else if (event.key != "ArrowLeft" && event.key != "ArrowRight") {
        //             inputs[i].setAttribute("type", "text");
        //             inputs[i].value = ''; // Bug Fix: allow user to change a random otp digit after pressing it
        //             setTimeout(function () {
        //                 inputs[i].setAttribute("type", "number");
        //             }, 1000); // Hides the text after 1 sec
        //         }
        //     });
        //     inputs[i].addEventListener('input', function () {
        //         inputs[i].value = inputs[i].value.toUpperCase(); // Converts to Upper case. Remove .toUpperCase() if conversion isnt required.
        //         if (i === inputs.length - 1 && inputs[i].value !== '') {
        //             return true;
        //         } else if (inputs[i].value !== '') {
        //             inputs[i + 1].focus();
        //         }
        //     });

        // };
    </script>
</body>
</html>


