@{
    Layout = "_WPLayout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TWP</title>
    <link rel="canonical" href="" />
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">

    <!-- Google Fonts -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="~/css/wpregistrationcss/style.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/bootstrap.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/custom.css" rel="stylesheet" />
</head>

<body ng-app="main" ng-controller="myController">

    <!-- ======= Hero Section ======= -->
    <section class=" background-twc-banner">
        <div class="container">
            <header id="header" class="pb-5 mobile-top-padding-header ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-6 mx-auto text-center ">
                            <a href="index.html">
                                <img src="~/wpregimages/twc-logo.png" alt="" title="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        <!--mob img div -->
                        <div class="col-md-5 d-none d-md-block">
                            <div class="row">
                                <div class="mx-auto">
                                    <img src="~/wpregimages/twc-mobile.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <!--End == mob img div -->
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card login-form">
                                        <div class="row mb-1">
                                            <div class="col-md-12 col-12 text-center">
                                                <h5 class="form-title">
                                                    <strong> Confirm your Personal Details </strong>
                                                </h5>
                                            </div>
                                            <div class="col-md-10 mx-auto col-12"
                                                 style=" color: #c9a13f;">
                                                <label class="font-label-1"> Name :</label><span class="p-0" style="color: #fff;"> {{data[0].MA_Name}} </span>
                                            </div>
                                            <div class="col-md-10 mx-auto col-12">
                                                <label class="font-label-1" style="color: #c9a13f;">Mobile</label>
                                                <!-- <input type="text" class="form-control" name="password" value="Amit Ashok Kumar"> -->
                                                <span class="p-0"> {{mobile}} </span>
                                            </div>
                                            <div class="col-md-10 mx-auto col-12">
                                                <label class="font-label-1" style="color: #c9a13f;"> Date Of Birth</label>
                                                <!-- <input type="text" class="form-control" name="password" value="HDFC00145754"> -->
                                                <span class="p-0">
                                                    {{data[0].DateOfBirth| date}}
                                                </span>
                                            </div>
                                            <div class="col-md-10 mx-auto col-12">
                                                <label class="font-label-1" style="color: #c9a13f;"> Pincode</label>
                                                <!-- <input type="text" class="form-control" name="password" value="123456789"> -->
                                                <span class="p-0">{{data[0].Pincode}} </span>
                                            </div>
                                            <div class="col-md-10 mx-auto col-12">
                                                <label class="font-label-1" style="color: #c9a13f;"> Adresss</label>
                                                <!-- <input type="text" class="form-control" name="password" value="123456789"> -->
                                                <span class="p-0">{{data[0].Permanent_Address}} </span>
                                            </div>
                                            <div class="col-md-10 mx-auto col-12">
                                               <div class="d-flex pd">
                                                    <label class="font-label-1" style="color: #c9a13f;"> Email </label>
                                                    <span class="p-0">{{data[0].Email}}</span>
                                                    <input type="text" ng-if="!data[0].Email" id="Mailid" class="form-control mobile-number-textarea ps-0" style="color: white;width:187px;" ng-keyup="checkEmail()" maxlength="30">
                                                    <span ng-if="!data[0].Email" id="notVerify" style="color:rgb(206, 44, 44);" class="mfs12"> Email is not Verify </span>
                                                    <span ng-if="data[0].Email != null && data[0].Email != '' && data[0].Email != undefined" style="color:green" class="mfs12">Verified Email</span>
                                                    <span ng-if="CheckEmailPattern" style="color:rgb(206, 44, 44)" class="mfs12"> Invalid Email </span>
                                               </div>
                                            </div>


                                            <div class="col-md-10 mx-auto col-12">
                                                <a ng-click="EmailOtpVerify()" ng-if="sendOTP" class="mfs12" style="cursor: pointer;color:green;"> <i class="fa fa-hand-pointer-o"></i>SendOTP</a>
                                                <a ng-click="EmailOtpVerify()" ng-if="ResndOTP" class="mfs12" style="cursor: pointer;color:green;"> <i class="fa fa-hand-pointer-o"></i>ResendOTP</a>
                                                @*   <a (click)="showemailtextbox()" style="cursor: pointer;color:green;"> <i class="fa fa-edit ps-5"></i> Edit </a> *@
                                                <a (click)="sendOtp()" class="mfs12" style="cursor: pointer;color:green;margin-left:5px">  </a>
                                                @*  <a (click)="cancelEmailEdit()" style="cursor: pointer;color:green;margin-left:5px"> Cancel </a> *@
                                            </div>
                                        </div>

                                        <div class="row">
                                             <div class="col-md-12">
                                                 <div ng-if="OpenOTPbox">
                                                  <label ng-if="!data[0].Email" class="font-label-1" style="color: #c9a13f;"> OTP</label>
                                                 <input type="text"  id="OtpInput" class="form-control mobile-number-textarea ps-0" style="color: white;width:187px;"  ng-model="InputOTP" ng-change="EnterOTP()" ng-keypress="allowNumbers($event)" ng-paste="preventPaste($event)" maxlength="4">
                                                 <a ng-click="OtpVerify()" ng-if="VerifyOTP" style="cursor: pointer;color:green;"> <i class="fa fa-hand-pointer-o"></i>VerifyOTP</a>
                                                 </div>
                                                <!-- <input type="text" class="form-control" name="password" value="123456789"> -->
                                                    @* <input id="otp" name="otp" #otp value=""   class="email-style-edit inp font-label-1"> *@
                                                <div style="color: brown;">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 text-center mt-3 mb-4" style="display:none;" id="Minute">
                                            <label class="form-subtitle">
                                               @*  <a ng-click="EmailOtpVerify()" ng-show="resendOtp== true" style="color: floralwhite;">Resend OTP in</a> *@
                                                <span  class="golden">&nbsp;{{ displayy }}&nbsp;</span> Sec
                                            </label>
                                        </div>
                                        <div class="row mb-3 mt-3">
                                            <div class="col-md-12 text-center">
                                                <button class="btn btn-primary btn-submit-popup1 btn-sm" ng-disabled="!isValidOTP" ng-click="gotoNext()">Next</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->
    <!-- ======= Footer ======= -->
    <!--<footer id="footer" class="pt-2 pb-2">
        <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 text-center">
                <a href="mailto:customerservices@acm.co.in" class="link1">customerservice@acm.co.in</a>
            </div>
        </div>
        </div>
    </footer>-->
    <!-- End Footer -->



    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/js/wpregistration/jquery.min.js"></script>
    <script src="~/js/wpregistration/bootstrap.bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/js/wpregistration/main.js"></script>
    <script src="~/angularjs/toast/angular.min.js"></script>
    <script src="~/angularjs/toast/angular-animate.min.js"></script>

    <script src="~/js/wpregistration/ekyc/personaldetails.js"></script>

</body>

</html>

