@{
    Layout = "_WPLayout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>TWP</title>
    <link rel="canonical" href="" />
    <meta content="" name="description">
    <meta content="" name="keywords">
    <!-- Favicons -->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://chhotaniveshgold.com/assets/vendor/boxicons/css/boxicons.min.css"> -->
    <!---for toaster--->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Vendor CSS Files -->
    <link href="~/css/wpregistrationcss/slick.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/slick-theme.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="~/css/wpregistrationcss/style.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/bootstrap.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/custom.css" rel="stylesheet" />
    <script>
        function blockspace(event) {
            // Get the key code of the pressed key
            var keyCode = event.keyCode || event.which;

            // Check if the pressed key is the backspace key (key code 8)
            if (keyCode === 32) {
                // Prevent the default behavior of the backspace key
                event.preventDefault();
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <div ng-app="main" ng-controller="mycontroller">
        <!-- ======= Hero Section ======= -->
        <section class="background-twc-banner">
            <div class="container">
                <header id="header" class="pb-5 mobile-top-padding-header ">
                    <div class="container">
                        <div class="row d-md-none d-block">
                            <div class="col-md-2 col-6 mx-auto text-center ">
                                <a href="index.html">
                                    <img src="~/wpregimages/twc-logo.png" alt="" title="" class="img-fluid">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
               
                <div class="row">
                    <div class="col-md-12 mx-auto">
                        <div class="row">
                            <div class="col-md-5 d-none d-md-block">
                                <div class="row">
                                    <div class="mx-auto">
                                        <img src="~/wpregimages/twc-mobile.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card login-form">
                                            <div class="row mb-1 mt-5">
                                                <div class="form-title text-center">
                                                    Link Your Bank Account
                                                </div>
                                                <div class="text-center">
                                                    <label class="form-subtitle "><span class="golden">Scan Your QR Code from UPI </span></label>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-10 mx-auto">
                                                    <div class="form-floating mb-2">
                                                        <input type="text"  placeholder="HERFK4578G" class="form-control floating-text-area"
                                                               id="floatingInput" style="color: white;" ng-model="Account_Name" oninput="this.value = this.value.toUpperCase()" onkeydown="return blockDigits(event)" autocomplete="off">
                                                        <span ng-if="Account_Name==''" style="color: rgb(212, 25, 25);font-size:small;">
                                                            Please
                                                            Enter Account Holder Name
                                                        </span>
                                                        <label for="floatingInput" style="color: #ffffff">
                                                            Account Holder
                                                            Name
                                                        </label>
                                                    </div>
                                                    <div class="form-floating mb-2">
                                                        <input id="floatingInput" class="form-control floating-text-area"  placeholder="HERFK4578G" name="floatingInput" oninput="this.value = this.value.replace(/[^0-9]/g, '')" onkeydown="return blockspace(event)" type="text" ng-model="Account_Num" style="color: white;" autocomplete="off">
                                                        <span ng-if="Account_Num==''" style="color: rgb(212, 25, 25);font-size:small;">
                                                            Please
                                                            Enter Account Number
                                                        </span>
                                                        <label for="floatingInput" style="color: #ffffff">
                                                            Bank Account
                                                            Number
                                                        </label>
                                                    </div>
                                                    <div class="form-floating  mb-2">
                                                        <input type="text" id="floatingInput" class="form-control floating-text-area" style="color: white;" oninput="this.value = this.value.toUpperCase()" onkeydown="return blockspace(event)" name="floatingInput" ng-blur="GetBankDetails()" ng-model="IFSCCode" placeholder="HERFK4578G" autocomplete="off">
                                                        <label for="floatingInput" style="color: #ffffff">IFSC Code</label>
                                                        <span ng-if="IFSCCode==''" style="color: rgb(212, 25, 25);font-size:small;">
                                                            Please Enter IFSC Code
                                                        </span>
                                                    </div>
                                                    <div style="display:none;">
                                                        <label class="orangetext" for="flexCheckChecked">
                                                            {{ADDRESS}}
                                                        </label>
                                                    </div>
                                                    <div class="form-floating">
                                                        <span>
                                                            <img src="/wpregimages/upload-icon.png" class="date-icon" ng-click="clickFileInput()" style="cursor: pointer;">
                                                            <input autocomplete="off" type="file" id="fileInput" ng-model="CancelCheque" name="fileInput" accept="image/png,image/jpeg" style="display:none;" onchange="angular.element(this).scope().onFileSelect(this)">
                                                        </span>
                                                        <input type="text" autocomplete="off" class="form-control floating-text-area" id="fileInput" name="floatingInput" ng-model="CancelChequeFileName" style="color: white;" placeholder="Cancel Cheque">
                                                        <span ng-if="CancelChequeFileName==''" style="color: rgb(212, 25, 25);font-size:small;">
                                                            Upload Cancel Cheque
                                                        </span>
                                                        <label for="fileInput" style="color: #ffffff"> Upload Cancel Cheque </label>
                                                        <span ng-if="filesize" style="color: rgb(212, 25, 25);font-size:small;">Oops! The size limit for the image is 5 MB. Reduce the file size and try again.</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10 mx-auto mt-3">
                                                        <h3 class="title-4" style="color: #ffffff">Account Type</h3>
                                                    </div>
                                                    <div class="col-md-10 mx-auto">
                                                        <label class="font-label-2" style="color: #ffffff">
                                                            <input type="radio"
                                                                   name="account" ng-model="AccountType" ng-checked="true" value="1"> Saving
                                                            Account
                                                        </label>&nbsp;&nbsp;
                                                        <label class="font-label-2" style="color: #ffffff">
                                                            <input type="radio"
                                                                   name="account" ng-model="AccountType" value="0">
                                                            Current Account
                                                        </label>
                                                    </div>
                                                    <div class="col-md-10 mx-auto">
                                                        <div class="mt-2 checkbox-label-2">
                                                            Note: This bank will serve as your default bank for all future transactions.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-10 mx-auto text-center">
                                                        <button ng-click="SaveBankDetails()" class="btn rounded btn-submit">Next</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- End Hero -->
        <!-- ======= Footer ======= -->
        <!--<footer id="footer" class="pt-2 pb-2">
            <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 text-center">
                    <a href="mailto:customerservices@acm.co.in" class="link1">customerservice@acm.co.in</a>
                </div>
            </div>
            </div>
        </footer>-->
        <!-- End Footer -->
        <!-- Modal declaration -->
        <div class="modal fade" id="declaration" tabindex="-1" aria-labelledby="declarationModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
            <div class="modal-dialog NeedHelpModal">
                <div class="modal-content ">
                    <div class="modal-body pb-0 ps-4 pe-4">
                        <div class="col-md-12 col-4 text-center">
                            <div class="row">
                                <div class="col-12 text-end">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="col-12">
                                    <h4>Mobile No Common Declaration</h4>
                                    <p>Select the relationship with the entered mobile number.</p>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6 col-6 mobile-mb3 mb-4">
                                <button type="button" class="btn btn-tab1 active" id="">Self</button>
                            </div>
                            <div class="col-md-6 col-6 mobile-mb3 mb-4">
                                <button type="button" class="btn btn-tab1" id="">Spouse</button>
                            </div>
                            <div class="col-md-6 col-6 mobile-mb3 mb-4">
                                <button type="button" class="btn btn-tab1" id="">Dependent Child</button>
                            </div>
                            <div class="col-md-6 col-6 mobile-mb3 mb-4">
                                <button type="button" class="btn btn-tab1" id="">Dependent Parent</button>
                            </div>

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-12 mx-auto"><a href="" class="btn btn-primary btn-submit btn-sm">SUBMIT</a></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    </div>
    <!-- Vendor JS Files -->
    <script src="~/js/wpregistration/jquery.min.js"></script>
    <script src="~/js/wpregistration/slick.js"></script>
    <script src="~/js/wpregistration/slick.min.js"></script>
    <script src="~/js/wpregistration/bootstrap.bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="~/angularjs/toast/angular.min.js"></script>
    <script src="~/angularjs/toast/angular-animate.min.js"></script>
    <link href="~/angularjs/tosters/toaster.css" rel="stylesheet" />
    <script src="~/angularjs/tosters/toaster.js"></script>


    <script src="~/js/wpregistration/main.js"></script>

    <script>

        $(document).ready(function () {
            toastr.options = {
                'closeButton': true,
                'debug': false,
                'newestOnTop': false,
                'progressBar': false,
                'positionClass': 'toast-top-right',
                'preventDuplicates': false,
                'showDuration': '1000',
                'hideDuration': '1000',
                'timeOut': '5000',
                'extendedTimeOut': '1000',
                'showEasing': 'swing',
                'hideEasing': 'linear',
                'showMethod': 'fadeIn',
                'hideMethod': 'fadeOut',
            }
        });

        // Toast Position
        $('#position').click(function (event) {
            var pos = $('input[name=position]:checked', '#positionForm').val();
            toastr.options.positionClass = "toast-" + pos;
            toastr.options.preventDuplicates = false;
            toastr.info('This sample position', 'Toast Position')
        });
    </script>

    <script>
        $('.multiple-items').slick({
            arrows: true,
            dots: true,
            number: false,
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1,
                        dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        dots: false
                    }
                }

            ]
        });

    </script>

    <script>

        function blockDigits(event) {
            // Get the key code of the pressed key
            var keyCode = event.keyCode || event.which;

            // Allow only non-digit characters (excluding Backspace, Delete, Arrow keys, etc.)
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 96 && keyCode <= 105)) {
                event.preventDefault();
                return false;
            }
            return true;
        }

    </script>




    <script src="~/js/wpregistration/uploadcheque/uploadcheque.js"></script>

</body>

</html>

