@{
    Layout = "_WPLayout";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TWP</title>
    <link rel="canonical" href="" />
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Toastr -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Template Main CSS File -->
    <link href="~/css/wpregistrationcss/style.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/bootstrap.css" rel="stylesheet" />
    <link href="~/css/wpregistrationcss/custom.css" rel="stylesheet" />
</head>

<body>

    <!-- ======= Hero Section ======= -->
    <section class=" background-twc-banner" ng-app="main" ng-controller="myController">
        <div class="container">
            <header id="header" class="pb-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center mb-4">
                            <a href="index.html">
                                <img src="~/wpregimages/twc-logo.png" alt="" title="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <div class="row">
                        <div class="col-md-5 d-none d-md-block">
                            <div class="row">
                                <div class="mx-auto">
                                    <img src="~/wpregimages/twc-mobile.png" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card login-form">
                                        <div class="row mb-1 mt-3">
                                            <div class=" text-center">
                                                <h5 class="form-title">Selfie Verification</h5>
                                                <label class="form-subtitle "><span class="golden">Take a picture of yourself  </span></label>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-12 text-center">
                                                <img src="~/wpregimages/selfie.png" alt="" title="" id="Selfieimage" class="img-fluid">
                                                <canvas id="canvas" style="display:none;margin-left:170px;" width="320" height="240"></canvas>
                                                <p class="mt-2 mb-0 checkbox-label-2">
                                                    Note: Take a picture with your face clearly visible in it.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <button type="button" class="btn btn-primary" id="start-camera">Start-camera</button>
                                            <button type="button" class="btn btn-primary" style="display:none;" id="start-retake">Retake</button>
                                            <button class="btn btn-primary pgf" ng-click="Submit()">Next</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="modal fade" id="pandetails" tabindex="-1" aria-labelledby="declarationModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog">
                <div class="modal-dialog NeedHelpModal">
                    <div class="modal-content" style="background-color: #0E1D22;">
                        <div class="modal-body pb-0 ps-4 pe-4">
                            <div class="col-md-12 col-4">
                                <div class="row">
                                    <div class="col-12 text-end">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <video id="video" width="320" height="240" autoplay></video>


                                    <div class="row mx-5 ps-5">
                                        <div class="col-md-12 d-flex mt-3 mb-4">
                                            <button type="button" class="btn btn-primary" style="margin-left:67px;" id="click-photo" data-bs-dismiss="modal">Take Selfie</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/js/wpregistration/jquery.min.js"></script>
    <script src="~/js/wpregistration/bootstrap.bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/wpregistration/main.js"></script>

    <!---For Angular js-->
    <script src="~/angularjs/toast/angular.min.js"></script>
    <script src="~/angularjs/toast/angular-animate.min.js"></script>
    <link href="~/angularjs/tosters/toaster.css" rel="stylesheet" />
    <script src="~/angularjs/tosters/toaster.js"></script>

    <!-----Js File-->
    <script src="~/js/wpregistration/takeselfie/takeselfie.js"></script>
</body>


</html>
