
.card {
    width: 100%;
    /*background-color: #f8f8f8;  Warna card */
    padding: 20px;
    border-radius: 12px; /* Border radius card */
    border: 0;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #ddd; /* Border color input */
    border-radius: 8px; /* Border radius input */
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
    background-color: #f4f4f4; /* Warna input */
  }
  
  input:focus {
    border-color: #ae6902; /* Warna input saat focus */
  }
  
  button {
    background-color: #ae6902; /* Warna button */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px; /* Border radius button */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #c0560f; /* Warna button saat hover */
  }
.registration a {
    font-size: 14px;
    font-weight: 400;
    color: rgb(230, 132, 34);
    justify-content: end;
    display: flex;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    
}
/*input .pw{
    background-image: url('../../images/eye.png');
    background-repeat: no-repeat;
    background-size: cover;
}*/
.eye-o {
    position: absolute !important;
    top: 149px !important;
    right: 30px !important;
    width: 30px !important;
    height: 18px !important;
}
.eye-c {
    position: absolute !important;
    top: 149px !important;
    right: 30px !important;
    width: 30px !important;
    height: 18px !important;
}
.forpw {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: #2663c7;
    text-decoration: none;
}
  
  