@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TWC</title>
    <link rel="canonical" href="" />
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">

    <!-- Google Fonts -->


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://chhotaniveshgold.com/assets/vendor/boxicons/css/boxicons.min.css"> -->
    <!-- Vendor CSS Files -->
    <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/ba-style.css" rel="stylesheet">
</head>
<style>
    input::placeholder {
        color: rgb(255, 255, 255) !important;
    }

    input.form-control {
        background-color: black;
        color: white;
    }

    input:focus {
        background-color: black !important;
        color: white !important;
        border: 1px solid white !important;
        box-shadow: none !important;
    }
</style>

<body>

    <!-- ======= Hero Section ======= -->
    <section class="background-twc-banner d-flex justify-content-center align-items-center" style="height:100vh">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="row ">
                        <div class="col-md-12  card login-form-1 px-5">
                            <div class="row mx-auto">
                                <img src="~/images/twc-logo.png" alt="" title="" class="img-fluid mt-5 mb-4">
                            </div>
                            <div class="row">
                                <div class="form-title text-center mb-4">
                                    Dashboard Login
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label for="abc" class="form-label">Mobile Number<span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="" placeholder="91758 75896">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-3 mb-5">
                                    <a type="button" class="btn btn-login-1 col-md-12" href="Login">Send OTP</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->
    <!-- Vendor JS Files -->
    <script src="js/jquery.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
</body>

</html>