@{
    Layout = null;
}
<style>
    input::placeholder {
        color: rgb(255, 255, 255) !important;
    }

    input.form-control {
        background-color: black;
        color: white;
    }

    input:focus {
        background-color: black !important;
        color: white !important;
        border: 1px solid white !important;
        box-shadow: none !important;
    }
</style>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://chhotaniveshgold.com/assets/vendor/boxicons/css/boxicons.min.css"> -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link href="https://chhotaniveshgold.com/assets/vendor/boxicons/css/boxicons.min.css"> -->

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>TWC</title>
    <link rel="canonical" href="" />
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="" rel="icon">
    <link href="" rel="apple-touch-icon">

    <!-- Google Fonts -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> *@
    <!-- <link href="https://chhotaniveshgold.com/assets/vendor/boxicons/css/boxicons.min.css"> -->
    <!-- Vendor CSS Files -->
    @* <link href="~/css/slick.css" rel="stylesheet">
    <link href="~/css/slick-theme.css" rel="stylesheet"> *@
    <!-- Template Main CSS File -->
    @* <link href="~/css/style.css" rel="stylesheet"> *@
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/ba-style.css" rel="stylesheet">
</head>
<body>

    <!-- ======= Hero Section ======= -->
    <section class="background-twc-banner d-flex justify-content-center align-items-center" style="height:100vh">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <div class="row ">
                        <div class="col-md-12  card login-form-1 px-5">
                            <div class="row mx-auto">
                                <img src="~/images/twc-logo.png" alt="" title="" class="img-fluid mt-5 mb-4">
                            </div>
                            <div class="row">
                                <div class="form-title text-center mb-2">
                                    Dashboard Login
                                </div>
                                <label class="text-center mb-3" style="font-size: 16px;font-weight: 400;color: #9C7952;">Enter the Verification code</label>

                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-12">
                                    <label for="abc" class="form-label">Mobile Number<span class="text-danger">&nbsp;*</span></label>
                                    <input type="text" class="form-control" id="VerifyMobile" placeholder="" readonly>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="abc" class="form-label">Enter OTP<span class="text-danger">&nbsp;*</span></label>
                                    <input type="password" class="form-control" id="EnterOTP"  placeholder="******">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-6">
                                    <span style="font-size: 12px;" class="text-danger">Enter Valid OTP</span>
                                </div>
                                <div class="col-md-6 col-6 text-end">
                                    <span>
                                        <a href="#" id="resendOtpLink" class="font-a">Resend OTP</a>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-12 text-end">
                                    
                                    <span id="countdownTimer" class="font-a" style="margin-left: 10px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 mt-3 mb-3">
                                    <button type="button" id="Submitbutton" class="btn btn-login-1 col-md-12">Submit</button>
                                </div>
                                <label class="text-center font-12 mb-5">Dont have an account? <a href="#" class="font-12-a">Sign up now</a></label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Hero -->
    <!-- Vendor JS Files -->
    @* <script src="js/jquery.min.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/slick.min.js"></script> *@
    <script src="js/bootstrap.bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
</body>

</html>
<script src="~/Loginjs/Login.js"></script>