
@{
    ViewData["Title"] = "Mf_event_mf_Advised_Fund";
    Layout = "~/Views/Shared/_LayoutMF.cshtml";
}

<div class="new-card ps-2">
    <div class="container-fluid">
        <div id="CategoryDiv" class="row gx-4 border-bottom">
        </div>

        <div class="row gx-4" id="MFSubCategoryDiv">
        </div>
    </div>
</div>
<script src="~/mf script/advicefund.js"></script>