@{
    ViewData["Title"] = "MF_advised_fund_Lumpsum";
    Layout = "~/Views/Shared/_LayoutMF.cshtml";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BA Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="" type="~/image/png" href="" />
    <link rel="stylesheet" href="~/css/styles.min.css" />
    <link rel="stylesheet" href="~/css/ba-style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>

        table.no-bottom-border {
            border-bottom: none;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 15px;
        }

        th, td {
            text-align: left;
            padding: 10px;
            padding-left: 20px;
        }
    </style>
</head>

<body id="body-pd" class="body-pd">


    <input type="hidden" id="UCC" />
    <input type="hidden" id="BACode" />
    <input type="hidden" id="hiddenmandateamt" />
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="bg-color" style="min-height: 100vh;">
        <div class="row">
            <div class="col-md-12 col-12">

                <div class="new-card p-4">
                    <div class="container-fluid">
                        <div class="row">
                            <!--first coloum-->
                            <div class="col-md-6 col-12 card">
                                <!-- Mutual Fund Cart -->
                                <div class="font-18 margin-top-12">Mutual Fund Cart</div>

                                <input type="text" class="form-control" style="font-weight: bold;" id="fundNameDisplayInput" readonly>
                                <div class="col-md-12 mt-4">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                        @* <a class="form-check-label font-14-500" name="inlineRadio1" for="inlineRadio1">SIP</a> *@
                                        <label class="form-check-label font-14-500" name="inlineRadio1" for="inlineRadio1">SIP</label>
                                    </div>
                                    <div class="form-check form-check-inline ms-5">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                        @* <a class="form-check-label font-14-500" name="inlineRadio2" for="inlineRadio2">Lumpsum</a> *@
                                        <label class="form-check-label font-14-500" name="inlineRadio2" for="inlineRadio2">Lumpsum</label>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-4" id="paymentmodediv">
                                    @* <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="PaymentGatewayLumpsum" value="option1" checked>
                                        <label class="form-check-label font-14-500" name="PaymentGatewayLumpsum" for="PaymentGatewayLumpsum"> Payment Gateway</label>
                                    </div>
                                    <div class="form-check form-check-inline ms-5">
                                        <input class="form-check-input" type="radio" name="RadioOptions" id="MandateLumpsum" value="option2">
                                        <label class="form-check-label font-14-500" name="MandateLumpsum" for="MandateLumpsum">Mandate</label>
                                    </div> *@
                                </div>
                                <!-- Section 1 -->
                                <div class="row gx-4" id="additionalContent2">
                                    <div class="row">
                                        <div class="col-md-6 mt-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Frequency <span class="text-danger">*</span></label>
                                                <select class="form-select" aria-label="Default select example" id="Frequency">
                                                    <option selected>select Frequency</option>
                                                    @* <option value="1">DAILY</option> *@
                                                    <option selected value="MONTHLY">MONTHLY</option>
                                                    @* <option value="3">QUARTERLY</option> *@
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Amount<span class="text-danger">*</span> (Min Rs.<span id="MinAmount"></span>, in multiples of <span id="Multiples"></span>)</label>
                                                <input type="text" class="form-control " id="SIPMinAmt" placeholder="Amount">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            <div class="mb-3">
                                                <label for="sipDateField" class="form-label">SIP Start Date <span class="text-danger">*</span></label>
                                                <select class="form-select" aria-label="Default select example" id="SIPDate">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">No. installment (Min. <span id="MinInstallments"></span> Months Installments) <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="SIPMinInstallmentNo">
                                            </div>
                                        </div>
                                        @* <div class="col-md-6 mt-2">
                                            <div class="mb-3">
                                                <label for="sipDateField" class="form-label">SIP End Date <span class="text-danger">*</span></label>
                                                <input type="date" class="form-control">
                                            </div>
                                        </div> *@
                                        <div class="col-md-6 mt-2">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Transaction mode <span class="text-danger">*</span></label>
                                                <select class="form-select" aria-label="Default select example" id="tenureField">
                                                    <option selected>Demat</option>
                                                    <option value="1">Physical</option>
                                                </select>
                                            </div>
                                        </div>
                                        @* <div class="col-md-12 mt-2">
                                            <div class="mb-3">
                                                <label for="sipDateField" class="form-label">Remark</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div> *@
                                        
                                        

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    EUIN Declaration
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="TermsChk" checked>
                                                <label class="form-check-label" for="flexCheckChecked">
                                                    I agree to
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            @* <button type="button" class="btn btn-Add-Scheme col-md-4">Add Scheme</button> *@
                                            <button id="SendSIPdataCart" type="button" class="btn btn-buy-now col-md-4">Buy Now</button>
                                        </div>
                                    </div>


                                </div>

                                <!-- Section 2 -->
                                <div class="row gx-4" id="additionalContent">
                                    
                                    <div class="row">
                                        <div class="col-md-6 mt-4">
                                            <div class="mb-3">
                                                <label for="exampleFormControlInput1" class="form-label">Amount<span class="text-danger">*</span></label>
                                                <input type="text" class="form-control " id="LumpsumAmt" placeholder="Amount">
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-4">
                                            <label for="exampleFormControlInput1" class="form-label">Transaction mode <span class="text-danger">*</span></label>
                                            <select class="form-select" aria-label="Default select example" id="tenureField">
                                                <option selected>Demat</option>
                                                <option value="1">Physical</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 mt-4">
                                            <div class="col-md-12 mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        EUIN Declaration
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                                    <label class="form-check-label" for="flexCheckChecked">
                                                        I agree to
                                                    </label>
                                                </div>
                                            </div>
                                            @* <button type="button" class="btn btn-Add-Scheme col-md-4">Add Scheme</button> *@
                                            <button type="button" id="SendlumpsumdataCart" class="btn btn-buy-now col-md-4">Buy Now</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Mutual Fund scheme -->
                            </div>
                            <!--Second coloum-->
                            @* <div class="col-md-6 col-12">
                                <div class="card px-4 py-3">
                                    <div class="row mb-4">
                                        <div class="col-md-12 col-12 font-18">Select Payment Mode</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-12 px-4">
                                            <!--Net Banking-->
                                            <div class="row mb-3 px-0">
                                                <div class="payment-selected d-flex">
                                                    <div class="col-md-1">
                                                        <img src="~/images/add-icon.png" style="width: 23px;height: auto;">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label class="form-check-label col-md-10" for="defaultCheck1">
                                                            Net Banking
                                                        </label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input class="form-check-input col-md-2" type="radio" value="" id="defaultCheck1">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  UPI-->
                                            <div class="row mb-3 px-0">
                                                <div class="payment-normal d-flex">
                                                    <div class="col-md-1">
                                                        <img src="~/images/add-icon.png" style="width: 23px;height: auto;">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label class="form-check-label col-md-10" for="defaultCheck2">
                                                            UPI
                                                        </label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input class="form-check-input col-md-2" type="radio" value="" id="defaultCheck2">
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Auto Payment-->
                                            <div class="row mb-3 px-0">
                                                <div class="payment-normal d-flex">
                                                    <div class="col-md-1">
                                                        <img src="~/images/add-icon.png" style="width: 23px;height: auto;">
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label class="form-check-label col-md-10" for="defaultCheck3">
                                                            Auto Payment
                                                        </label>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <input class="form-check-input col-md-2" type="radio" value="" id="defaultCheck3">
                                                    </div>
                                                </div>
                                            </div>

                                            <!--make payment-->
                                            <div class="row">
                                                <div class="col-md-12 mt-4 text-center mb-4">
                                                    <button type="button" class="btn btn-buy-now col-md-6" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Make Payment</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 377px;">
            <div class="modal-content madal-bg-colour px-2">
                <div class="modal-header justify-content-end">
                    <button type="button" class="" data-bs-dismiss="modal" aria-label="Close" style="border: none;"><img src="images/close.png" style="width: 19px;height: auto;"></button>
                </div>
                <div class="modal-body pb-0">
                    <div class="row">
                        <div class="col-md-12 col-12 text-center">
                            <img src="~/images/done-1.png" class="done1-logo">
                        </div>
                        <div class="col-md-12">
                            <p class="modal-text text-center">
                                Thank you for your response.
                                Your response has been submitted successfully.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mx-auto pt-0">
                    <button type="button" class="btn modal-but" data-bs-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {

            const showNavbar = (toggleId, navId, bodyId, headerId) => {
                const toggle = document.getElementById(toggleId),
                    nav = document.getElementById(navId),
                    bodypd = document.getElementById(bodyId),
                    headerpd = document.getElementById(headerId)

                // Validate that all variables exist
                if (toggle && nav && bodypd && headerpd) {
                    toggle.addEventListener('click', () => {
                        // show navbar
                        nav.classList.toggle('show')
                        // change icon
                        toggle.classList.toggle('bx-x')
                        // add padding to body
                        bodypd.classList.toggle('body-pd')
                        // add padding to header
                        headerpd.classList.toggle('body-pd')
                    })
                }
            }

            showNavbar('header-toggle', 'nav-bar', 'body-pd', 'header')

            /*===== LINK ACTIVE =====*/
            const linkColor = document.querySelectorAll('.nav_link')

            function colorLink() {
                if (linkColor) {
                    linkColor.forEach(l => l.classList.remove('active'))
                    this.classList.add('active')
                }
            }
            linkColor.forEach(l => l.addEventListener('click', colorLink))

            // Your code to run since DOM is loaded and ready
        });

    </script>

    <script>

        $(document).ready(function () {
            $(".toggle-button1").click(function () {
                $(".card-panel2").toggle();
            });
        });
    </script>
    <!--table navigation scripts-->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>new DataTable('#example');</script>




</body>

</html>
<script src="~/MF Script/InsertSIPandLumsum.js"></script>
<script src="~/MF Script/screener.js"></script>


